header {
  margin: 20px 0 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 730px;

  @media screen and (max-width: 1150px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 450px) {
    display: none;
  }

  .title,
  .infos-mkt {
    background: rgba(20, 20, 20, 0.85);
    padding: 10px;
    border-radius: 14px;
    margin-right: 10px;
    box-shadow: $shadow;
    display: grid;
    align-items: center;
    height: 116px;
    backdrop-filter: blur(3px);
    border-bottom: 2px solid $color1;

    ul {
      height: 100%;
    }
  }
  .title {
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 42px;
      background: rgba(0, 0, 0, 0.5);
      top: 0;

      @media screen and (max-width: 1150px) {
        top: -8px;
      }
    }
    h1 {
      font-family: $font2;
      font-size: 1.5rem;
      color: $color1;
      z-index: 2;
      position: relative;
      text-align: center;
      transform: translateY(-4px);
      display: flex;
      align-items: center;
      justify-content: center;
      background: -webkit-linear-gradient(360deg, $color1, #0debc6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      height: 30px;

      @media screen and (max-width: 1150px) {
        transform: translateY(-8px);
      }

      @media screen and (max-width: 450px) {
        font-size: 1.2rem;
      }

      img {
        height: 17px;
        object-fit: cover;
        margin-right: 3px;
        transform: translate(2px, -4px);
      }
    }
    .infos {
      display: grid;
      grid-template-columns: 50% 50%;
      height: 100%;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .img-help {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;

        img {
          height: 30px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            transform: translateX(1px);
            filter: brightness(150%);
          }
        }
      }
    }
  }
  .global-mkt {
    display: flex;

    p {
      margin-left: 5px;
      font-size: 1.1rem;
    }
  }
  .infos-mkt {
    @media screen and (max-width: 1150px) {
      margin-right: 0;
    }
  }
  .global-chart {
    border-radius: 14px;
    overflow: hidden;
    box-shadow: $shadow;
    overflow: hidden;

    .notes-container {
      height: 179px;
      width: 730px;
      background: $black1;
      border-bottom: 1px solid $color1;
      border-radius: 0 0 13px 13px;

      h4 {
        text-align: center;
        background: $black2;
        height: 25px;
        letter-spacing: 1px;
      }

      form {
        height: 154px;
        position: relative;

        textarea {
          background: transparent;
          border: none;
          padding: 5px;
          overflow-y: scroll;
          resize: none;
          color: $white1;
          font-size: 1.1rem;
          width: 100% !important;
          height: 100%;

          &::selection {
            background: $color1;
            color: $black1;
          }

          &::-webkit-scrollbar {
            // background: $white1;
            border-radius: 50px;
            width: 1px;
          }
          &::-webkit-scrollbar-track {
            border-radius: 50px;
          }
          &::-webkit-scrollbar-thumb {
            background: $color1;
            border-radius: 50px;
            height: 10px;
          }

          &:focus {
            outline: none;
          }
        }
        input[type="submit"] {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100px;
          height: 30px;
          background: $color1;
          border: none;
          cursor: pointer;
          color: $black2;
          font-size: 1.01rem;
          border-radius: 4px 0 0 0;
          transition: 0.2s;

          &:focus {
            outline: 1px solid #0debc6;
          }

          &:hover {
            filter: brightness(130%);
            transform: translateX(1px);
          }
        }
      }
    }

    @media screen and (max-width: 1150px) {
      display: none;
    }

    text {
      font-size: 0.8rem !important;
      letter-spacing: 1px;
    }
    .custom-tooltip {
      background: rgb(59, 59, 59);
      padding: 10px;
    }
  }
}
