.table-container {
  text-align: center;

  .table-header,
  .table-line {
    display: grid;
    grid-template-columns: 32px 32px 220px 100px 120px 100px repeat(8, 1fr);
  }
  .table-header {
    input[type="radio"] {
      display: none;

      &:checked ~ label {
        font-weight: 900;
        color: violet;
      }
    }
    label {
      user-select: none;
      cursor: pointer;
      transition: 0.1s;

      &:hover {
        color: violet;
      }
    }
  }
  .table-line {
    h4 {
      text-align: left;
    }
    .img {
      display: flex;
      align-items: center;
    }
  }
}
